<h1>Ciclo atual: <span>{{cycleActual}}</span> <button (click)="nextCycle()" style="margin-left: 10px">Próximo ciclo</button></h1>
<div style="display:flex">
  <table border="1">
    <caption>Status de intruções</caption>
    <thead>
    <td>Instrução</td>
    <td>Despacho</td>
    <td>ínicio Execução</td>
    <td>fim Execução</td>
    <td>Escrita de resultado</td>
    </thead>
    <tr *ngFor="let ins of instructionsQueue; index as i">
      <td [ngClass]="{'select': (i == cycleActual-1)} ">{{ins.instruction}}</td>
      <td>{{ins.issue}}</td>
      <td>{{ins.start}}</td>
      <td>{{ins.finish}}</td>
      <td>{{ins.written}}</td>
    </tr>
  </table>

  <table border="1" style="margin-top: 20px">
    <caption>Buffer de reordenação</caption>
    <thead>
    <td>#</td>
    <td>Instrução</td>
    <td>busy</td>
    <td>status</td>
    <td>destination</td>
    <td>value</td>
    </thead>
    <tr *ngFor="let buffer of bufferReorder">
      <td>{{buffer.numInst}}</td>
      <td>{{buffer.inst}}</td>
      <td>{{buffer.busy}}</td>
      <td>{{estadoTranslate(buffer.estado)}}</td>
      <td>{{buffer.dest}}</td>
      <td>{{buffer.valor}}</td>
    </tr>
  </table>
  <br>
</div>

<br>

<div style="padding: 20px; display: flex">
  <table border="1" style="margin-top: 20px">
    <caption>Estação de reserva</caption>
    <thead>
    <td>Nome</td>
    <td>Está ocupada?</td>
    <td>Op</td>
    <td>vj</td>
    <td>vk</td>
    <td>qj</td>
    <td>qk</td>
    <td>dest</td>
    <td>a</td>
    </thead>
    <tr *ngFor="let station of reservationStationComponent">
      <td>{{station.name}}</td>
      <td>{{station.busy}}</td>
      <td>{{station.instruction}}</td>
      <td>{{station.vj}}</td>
      <td>{{station.vk}}</td>
      <td>{{station.qj}}</td>
      <td>{{station.qk}}</td>
      <td>{{station.dest}}</td>
      <td>{{station.A}}</td>
    </tr>
  </table>
  <table border="1" style="margin-top: 20px">
    <caption>Banco de registradores</caption>
    <thead>
    <td></td>
    <td>Valor</td>
    <td>Reorder</td>
    <td>Busy</td>
    </thead>
    <tr *ngFor="let reg of registers; index as i">
      <td>{{'R'+ i}}</td>
      <td>{{reg?.valor}}</td>
      <td>{{'#'+ reg?.reorder}}</td>
      <td>{{reg?.busy}}</td>
    </tr>
  </table>

</div>
