.select{
    background: #e685b5;
}

.issue{
  background: #ffda6a;
}
.executing{
  background: #0d6efd;
}
.written{
  background: #198754;
}

.info{
  font-size: 13px;
}

.ocupado{
  font-weight: bold;
}
